
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

* {
  font-family: 'Noticia Text', serif;
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #090909;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.salesContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#sales {
  padding: 40px 10px;
}